<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Консольный вывод -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight([%thread]) %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->
    <logger name="org.hibernate" level="WARN">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="ru.aston.intensive.hibernate.dao" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>